body {
  background-color: #d4f8d4;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
}

.material-icons {
  vertical-align: middle;
}

.card {
  background-color: #fdfdfd;
}

footer {
  font-size: 0.9rem;
}

@media (max-width: 576px) {
  header .container {
    flex-direction: column;
    align-items: flex-start !important;
  }

  header .container > div {
    margin-bottom: 10px;
  }

  .ratio iframe {
    height: 300px;
  }
}
